<html layout:decorate="~{frontend/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container my-5">
            <h1>Add User</h1>
            <form action="#" th:action="@{/saveuser}" method="post" th:object="${user}">
                <div>
                    <label for="firstName">Firtname</label>
                    <input type="text" name="firstName" id="firstName" th:field="*{firstName}">
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="error"></div>
                </div>
                <div>
                    <label for="lastName">Lastname</label>
                    <input type="text" name="lastName" id="lastName" th:field="*{lastName}">
                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="error"></div>
                </div>
                <div>
                    <label for="emailName">Email</label>
                    <input type="email" name="emailName" id="emailName" th:field="*{emailName}">
                    <div th:if="${#fields.hasErrors('emailName')}" th:errors="*{emailName}" th:class="error"></div>
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</body>
</html>