<html layout:decorate="~{frontend/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container my-5">
            <h1>Edit User</h1>
            <form action="#" th:action="@{/saveedituser}" method="post" th:object="${user}">

                <input type="hidden" th:value="${id}" th:field="*{id}">

                <div>
                    <label for="firstName">Firtname</label>
                    <input type="text" name="firstName" id="firstName" th:field="*{firstName}">
                </div>
                <div>
                    <label for="lastName">Lastname</label>
                    <input type="text" name="lastName" id="lastName" th:field="*{lastName}">
                </div>
                <div>
                    <label for="emailName">Email</label>
                    <input type="email" name="emailName" id="emailName" th:field="*{emailName}">
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</body>
</html>